@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.home-wrapper
{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100vw;
}
.home-bio-wrapper
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: khaki;
    height: 80%;
    width: 80%;
}
.home-face-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
   /* border-radius: 20px; */
}
.home-face-image
{
    object-fit: cover;
    border-radius: 50%;
}
.home-bio-container
{  
   /* padding-left: 20px;
    padding-right: 20px; */
    display: flex;
    flex-direction: row;

    
   /* padding: 40px 40px 40px 40px; */
   


    height: 450px;
    width: 650px;
    background-color: rgb(236, 236, 219, .95);
    /* 236, 236, 219 */
    /* 59, 145, 179, */
    /* 22, 37, 43 */
    /* 22, 33, 37 */
    box-shadow: 15px 15px 1px rgb(27, 37, 39, 0.6);
    border-radius: 5px;

}
.home-text-container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.home-header
{
    display: flex;
    color: rgba(27, 37, 39);
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    text-align: left;
    padding-left: 22px;
    padding-bottom: 10px;
}
.home-bio
{
    display: flex;
    color: rgba(27, 37, 39);
    /* padding-top: 20px; */
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding-left: 22px;
   /* padding: 40px; */
}