@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


*
{
    box-sizing: border-box;
    margin: 0;
}
.project-transitions-enter
{
    height: 100vh;
    width: 100%;
    
    background-color: rgb(240, 222, 198);

    opacity: 0;
}
.project-transitions-enter-active
{
    height: 100vh;
    width: 100%;
    
    background-color: rgb(240, 222, 198);

    opacity: 1;
    transition: opacity 2s;
    transition-delay: 1000ms;
}
.show-project
{
    position: relative;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;

    padding-left: 1%; /* 40px */
    padding-right: 1%;
    padding-bottom: 1%; /* 30px */
    padding-top: 0;

    background-color: rgb(240, 222, 198);

    display: flex;
    justify-content: flex-start;
  /*  align-items: center; */
}
.RSANavigation-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    
    /* rgb(216, 190, 156) */
    height: 100%;
    width: 12%;
    margin-right: 0.5%; /* 10px */
   /* padding-left: 10px; */
   /* padding-right: 10px; */
   /* padding-bottom: 10px;
    margin-right: 2%; */
    
}
.RSANavigation-list
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    list-style: none;

    background-color: rgb(250, 248, 242);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);


    height: 100%;
    width: 100%;
    
}
.RSANavigation-list-item
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px; /* 20px */
    padding-bottom: 20px; /* 20px */
}
.RSANavigation-list-item-button
{
    width: 80%;
    height: 40px; /* 40px */

    border-width: 0;

    font-size: 1.3vw;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    color: rgb(230, 240, 243);
    background-color: rgb(63, 75, 78);
    border-radius: 5px;
}


.RSA-Overview
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
   /* flex-wrap: wrap; */
  /*  padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
    height: 100%;
    width: 88%;
    background:rgb(240, 222, 198);
    /*margin-left: 1%; */
}
.RSA-Overview-Intro
{
    height: min-content;
    width: 30%;
   /* margin-right: 2%;
    margin-bottom: 2%; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    padding: 0.5%;/* padding: 15px; */


    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    background:rgb(250, 248, 242);
}
.Project-Page-Header
{
    color:rgb(27, 30, 31);
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    font-weight: 500;
   /* font-weight: 700; */

    text-align: center;

    padding-top: 0.5%; /* 5px */
    padding-bottom: 1%; /* 15px */

    margin-bottom: 1%; /* 10px */

    background-color:rgba(49, 78, 60, 0.562);
    border-radius: 5px;
}
.Project-Page-Body
{
    color:rgb(27, 30, 31);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    padding-bottom: 1%; /* 15px */
}
.RSA-Overview-Diagram-Container
{
    height: min-content;
    width: 65%; /* 65% */
    min-width: min-content;

    padding: 1%; /*15px */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    background:rgb(250, 248, 242);
    border-radius: 5px;
}
.RSA-Overview-Diagram-holder
{
    height: 100%;
    width: 100%;
}
.diagram-panel-container
{
    height: min-content;
    width: 50%;

    padding: 1%; /* 15px */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    background:rgb(250, 248, 242);
    border-radius: 5px;
}
.diagram-image-container
{
    height: min-content;
    width: min-content;
}
.diagram-image
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.react-project-container
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background:rgb(240, 222, 198);

}
.react-example-container
{
    height: min-content;
    width: 100%;
}
.react-example
{
    height: min-content;
    width: 100%;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 660vh;
}
.header-background
{
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: -4;
}
.header-background::before
{
    background-image: url('./assets/forest8.jpg'); /* fourth */
    background-position: center;
    background-size: cover;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -5;
}
.header-content-lineOne
{
    padding-top: 11%;
    padding-bottom: 0.8%;
    letter-spacing: 2px;
    color:rgba(230, 240, 243, 1);
    font-size: 1.3vw;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
.header-content-lineTwo
{
    color: rgba(230, 240, 243, 1);
    font-size: 2.5vw;
    padding-bottom: 0.8%;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
.header-content-lineThree
{
    color: rgba(230, 240, 243, 1);
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
.body-background
{
    position: relative;
    top:100vh;
    height: 50vh;
    width: 100vw;
    padding-top: 3%; /* 50px */
    padding-bottom: 3%; /* 50px */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background:rgb(240, 222, 198);
}
.body-wrapper
{
    
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:rgb(250, 248, 242); /*248, 243, 240 */
    /* 192, 179, 168 */
    /* 199, 189, 185 */
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);

}
.face-container
{
    height: 70%;
    width: 15%;
    border-radius: 50%;
    overflow:hidden;
}
.face-image
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bio-container
{
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding-left: 3%;
    box-sizing: border-box;
}
.bio-header
{
    color:rgb(35, 44, 46);
    font-size: 2.5vw;
    font-family: 'Playfair Display', serif;
    font-weight: 500;

    border-bottom:1px solid rgba(56, 80, 85);
}
.bio-body
{
    color: rgba(35, 44, 46);
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1%; /* 15px */
    line-height: 1.5em; /*25px*/
}
.projects-banner-wrapper
{
    position: relative;
    top: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 60 */
    width: 100%;
    overflow: hidden;
    /*
    background-image: url('./assets/pour4.jpg'); 3 center is pretty good
    background-position: center;
    background-size: cover;
    */
}
.projects-banner-background
{
    height: 100%;
    width: 100vw;
    object-fit: cover;
}
.projects-banner-content-wrapper
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background:rgb(250, 248, 242);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
}
.projects-banner-content
{
    /*margin-top: 20%;
    margin-bottom: 20%; */
    padding: 10px; /* 10px */
    display: flex;
    justify-content: center;
    color:rgb(35, 44, 46);
   /* filter: drop-shadow(0px 0px 3px rgba(27, 37, 39, 0.6)); */
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}
.projects-page-wrapper
{
    position: relative;
    top: 100vh;
    left: 0;
    height: min-content;
    width: 100%;
    background-color: rgb(240, 222, 198);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    
}
.projects-page-header-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    background-color: rgb(250, 248, 242);
    padding: 1%; /* 15px */
    margin-bottom: 1%;
    /* 196, 123, 112 */
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
}
.projects-page-header
{
   /* height: min-content;
    width: min-content; */
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    letter-spacing: 3px;
    font-weight: 100;
    color: rgba(248, 243, 240);
    /* filter: drop-shadow(5px 5px 3px rgba(27, 37, 39, 0.6)); */
    background-color: rgb(63, 75, 78);
    border-radius: 5px;
    padding-top: 1%; /* 15px */
    padding-bottom: 1%; /* 15px */
    padding-left: 8%; /* 100px */
    padding-right: 8%; /* 100px */
    
    
}
.project-panel-container
{
    position: relative;

    margin:0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: hidden;
    border-radius: 5px;
    overflow:hidden;
    
}
.project-panel-text-container
{
    position: absolute;
    top: 70%;

    height: 30%;
    min-height: min-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    background-color:rgb(250, 248, 242);
    box-shadow: 0px 0px 40px 40px rgba(27, 37, 39, 0.349);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}
.project-panel-header
{
    color:rgb(27, 30, 31);
    font-family: 'Playfair Display', serif;
    font-size: 1.3vw;
    font-weight: 500;
    padding-left: 0.5%; /* 10px*/
    padding-right: 0.5%; /* 10px */
    padding-top: 0.25%; /* 5px */
    padding-bottom: 0.35%; /* 7px */

    background-color:rgba(49, 78, 60, 0.562);
}
.project-panel-text
{
    color:rgb(27, 30, 31);
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
}
.projects-page-menu-container
{
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 4%; /* 50px */
    padding-bottom: 8%; /* 100px */
    padding-left: 3.5%; /* 40px */
    padding-right: 3.5%; /* 40px */
    background-color: rgb(240, 222, 198);
}
.projects-page-button-container
{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    padding-top: 8%; /* 100px */
 
    background-color: rgb(240, 222, 198);
}
.projects-page-button-list
{
    height: 100%; /* 100% */
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}
.projects-page-button-list-item
{
    height: 100%; /* 100% */
    width: 22%;
    border: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    
}
.projects-page-button
{
    margin:0;
    width: 100%; /* 100% */
    height: 100%;
    padding: 0;
    border: hidden;
    border-radius: 5px;

}
.project-panel-image-container1
{
    height: 100%;
    width: 100%;
    background: url('./assets/security.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.project-panel-image-container2
{
    height: 100%;
    width: 100%;
    background: url('./assets/forest8.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.project-panel-image-container3
{
    height: 100%;
    width: 100%;
    background: url('./assets/warehouse.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.project-panel-image-container4
{
    height: 100%;
    width: 100%;
    background: url('./assets/MD5.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.projects-page-project-wrapper
{
    height: 100vh;
    width: 100%;
    
    background-color: rgb(240, 222, 198);

}

.resume-header-wrapper
{
    position: relative;
    top: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 60 */
    width: 100%;
    overflow: hidden;
}
.resume-page
{
    position: relative;
    top: 100vh;
    height: 160vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4%; /* 50px */
    padding-bottom: 4%; /* 50px */
    padding-right: 3.5%; /* 40px */
    padding-left: 3.5%; /* 40px */

    background-color: rgb(240, 222, 198);

}
.resume-container
{
    height: 100%;
    width: 100%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(250, 248, 242);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
}
.resume-header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 20%;
    background-color: rgb(63, 75, 78);
    border-radius: 5px;
}
.resume-header
{
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    letter-spacing: 3px;
    font-weight: 100;
    color: rgba(248, 243, 240);
   
}
.resume-image-container
{
    height: 90%;
    width: 80%;
    background-color: rgb(63, 75, 78);
    padding: 1%; /* 10px */
    border-radius: 5px;
}
.resume-image
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}



