@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


*
{
    box-sizing: border-box;
    margin: 0;
}
.project-transitions-enter
{
    opacity: 0;
}
.project-transitions-enter-active
{
    opacity: 1;
    transition: opacity 2s;
    transition-delay: 1000ms;
}

.RSANavigation-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 165px;

    background-color: rgb(250, 248, 242);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);

    margin-right: 20px;
    
}
.RSANavigation-list
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    list-style: none;

    height: 100%;
    width: 100%;
}
.RSANavigation-list-item
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px; /* 20px */
    padding-bottom: 20px; /* 20px */
}
.RSANavigation-list-item-button
{
    width: 80%;
    height: 40px; /* 40px */

    border:hidden;

    font-size: 19px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    color: rgb(27, 30, 31);
    background-color: rgba(49, 78, 60, 0.562);
    border-radius: 5px;
}
.RSANavigation-list-item-button-active
{
    width: 80%;
    height: 40px; /* 40px */

    border:hidden;

    font-size: 19px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    
    color: rgb(230, 240, 243);
    background-color: rgb(63, 75, 78);
    border-radius: 5px;
}

.RSA-project-container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
    height: 100%;
    width: 88%;
}
.Intro-project-panel
{
    height: min-content;
    max-height: 850px;
    width: 450px;
    
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    padding: 1%;

    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    background:rgb(250, 248, 242);
}
.Project-Page-Header
{
    color:rgb(27, 30, 31);
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
   /* font-weight: 700; */

    text-align: center;

    background-color:rgba(49, 78, 60, 0.562);
    padding: 5px;
    border-radius: 5px;
}
.Project-Page-Body
{
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding-top: 20px; /* 15px */
}
.Diagram-Panel
{
    height: min-content;
    max-height: 850px;
    width: 585px; /* 65% */

    padding: 1%; /*15px */
    margin-right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    background:rgb(250, 248, 242);
    border-radius: 5px;
}
.Diagram-holder
{
    height: min-content;
    width: 100%;
}
.Diagram-holder-jpg
{
    height: min-content;
    width: 100%;
}
.Diagram
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.diagram-panel-container
{
    height: min-content;
    width: 50%;

    padding: 1%; /* 15px */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
    background:rgb(250, 248, 242);
    border-radius: 5px;
}
.diagram-image-container
{
    height: min-content;
    width: min-content;
}
.diagram-image
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.project-container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 88%;
}
.react-example-container
{
    height: min-content;
    width: 100%;
}
.react-example
{
    height: min-content;
    width: 100%;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
   /* height: 660vh; */
    height: min-content;

    position: relative;
    top: 100vh;

    background:rgb(240, 222, 198);

    z-index: 10;
}
.header-background
{
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: -4;
}
.header-background::before
{
    background-image: url('./assets/forest8.jpg'); /* fourth */
    background-position: center;
    background-size: cover;
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -5;
}
.header-content-lineOne
{
    padding-top: 11%;
    padding-bottom: 0.8%;
    letter-spacing: 2px;
    color:rgba(230, 240, 243, 1);
    font-size: 1.3vw;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
.header-content-lineTwo
{
    color: rgba(230, 240, 243, 1);
    font-size: 2.5vw;
    padding-bottom: 0.8%;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
.header-content-lineThree
{
    color: rgba(230, 240, 243, 1);
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-weight: 100;
}
.body-wrapper
{
    
    height: 325px;
    width: 900px;

    margin-top: 60px;
    margin-bottom: 60px;



    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:rgb(250, 248, 242); /*248, 243, 240 */
    /* 192, 179, 168 */
    /* 199, 189, 185 */
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);

}
.face-container
{
    height: 225px;
    width: 200px;
    border-radius: 50%;
    overflow:hidden;
}
.face-image
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bio-container
{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 3%;
    box-sizing: border-box;
}
.bio-header
{
    color:rgb(35, 44, 46);
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;

    border-bottom:1px solid rgb(35, 44, 46);
}
.bio-body
{
    color: rgba(35, 44, 46);
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px; /* 15px */
    line-height: 1.5em; /*25px*/
}
.projects-banner-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 60 */
    width: 100%;
    overflow: hidden;
}
.projects-banner-background
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects-banner-content-wrapper
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background:rgb(250, 248, 242);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
}
.projects-banner-content
{
    /*margin-top: 20%;
    margin-bottom: 20%; */
    padding: 10px; /* 10px */
    display: flex;
    justify-content: center;
    color:rgb(35, 44, 46);
   /* filter: drop-shadow(0px 0px 3px rgba(27, 37, 39, 0.6)); */
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}
/*.projects-page-wrapper
{
   /* position: relative; */
   /* top: 1920px; */
   /* left: 0; 
    height: 9px; /* min-content 
    width: 100%;
    background-color: rgb(240, 222, 198);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    
}
*/
.projects-page-header-container
{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    background-color: rgb(250, 248, 242);

    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);

    margin-bottom: 50px;
}
.projects-page-header
{
   /* height: min-content;
    width: min-content; */
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
    color: rgba(248, 243, 240);
    /* filter: drop-shadow(5px 5px 3px rgba(27, 37, 39, 0.6)); */
    background-color: rgb(63, 75, 78);
    border-radius: 5px;
    padding-top: 1%; /* 15px */
    padding-bottom: 1%; /* 15px */
    padding-left: 8%; /* 100px */
    padding-right: 8%; /* 100px */  
}
.projects-page-button-container
{
    height: 350px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.project-panel-container
{
    position: relative;

    margin:0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: hidden;
    border-radius: 5px;
    overflow:hidden;
    
}
.project-panel-text-container
{
    position: absolute;
    top: 225px;

    height: 125px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    background-color:rgb(250, 248, 242);
    box-shadow: 0px 0px 40px 40px rgba(27, 37, 39, 0.349);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.project-panel-header
{
    color:rgb(27, 30, 31);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 500;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    background-color:rgba(49, 78, 60, 0.562);
}
.project-panel-text
{
    color:rgb(27, 30, 31);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

}
.projects-page-menu-container    
{
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px; /* 40px */
    background-color:rgb(138, 54, 54);
}

.projects-page-button-list
{
    height: 100%; /* 100% */
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
}
.projects-page-button-list-item
{
    height: 100%; /* 100% */
    width: 300px;
    border: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);

    margin-left: 20px;
    margin-right: 20px;
    
}
.projects-page-button
{
    margin:0;
    width: 100%; /* 100% */
    height: 100%;
    padding: 0;
    border: hidden;
    border-radius: 5px;
    overflow:hidden;
}
.project-panel-image-container1
{
    height: 100%;
    width: 100%;
    background: url('./assets/security.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.project-panel-image-container2
{
    height: 100%;
    width: 100%;
    background: url('./assets/forest8.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.project-panel-image-container3
{
    height: 100%;
    width: 100%;
    background: url('./assets/warehouse.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.project-panel-image-container4
{
    height: 100%;
    width: 100%;
    background: url('./assets/MD5.jpg');
    background-size: cover;
    box-shadow: inset 0px 0px 80px 10px rgba(27, 37, 39, 0.349);

}
.projects-page-project-wrapper
{
    height: 1000px;
    width: 100vw;
    min-width: 1300px;

    padding-left: 50px; /* 40px */
    padding-right: 50px;
    padding-bottom: 50px; /* 30px */
    padding-top: 50px;

    background-color: rgb(240, 222, 198);

    display: flex;
    justify-content: flex-start; /* flex-start */
}
.project
{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
  /*  align-items: center; */
}

.resume-header-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}
.resume-page
{
    height: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4%; /* 50px */
    padding-bottom: 4%; /* 50px */
    padding-right: 40px; /* 40px */
    padding-left: 40px; /* 40px */

    background-color: rgb(240, 222, 198);

}
.resume-container
{
    height: 100%;
    width: 1200px;

    padding-bottom: 40px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(250, 248, 242);
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(27, 37, 39, 0.6);
}
.resume-header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 20%;
    background-color: rgb(63, 75, 78);
    border-radius: 5px;
}
.resume-header
{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
    color: rgba(248, 243, 240);
   
}
.resume-image-container
{
    height: 90%;
    width: 80%;

   /* padding: 1%; /* 10px */
    border-radius: 5px;
    border: 20px solid rgb(63, 75, 78);
}
.resume-image
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: rgb(63, 75, 78);
}



